
<%= form_with(model: upload_gambar, local: true) do |form| %>
  <% if upload_gambar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(upload_gambar.errors.count, "error") %> prohibited this upload_gambar from being saved:</h2>

      <ul>
      <% upload_gambar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :upload_gambar_title %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.file_field :image_url, id: :upload_gambar_image_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
