
	<div class="new_arrivals">

		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title new_arrivals_title">
						<h2><%= @header_page %> </h2>
					</div>
				</div>
			</div>

			<!-- <div class="row align-items-center">
				<div class="col text-center">
					<div class="new_arrivals_sorting">
						<ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".women">women's</li>
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".accessories">accessories</li>
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".men">men's</li>
						</ul>
					</div>
				</div>
			</div> -->

			<div class="row">
				<%= paginate @products %>
			</div>
			<div class="row">

				<div class="col">
					<div class="product-grid" data-isotope='{ "layoutMode": "fitRows" }'>
						<% @products.each do |product| %>
							<div class="product-item men">
									<div class="product_image">
										<img src="<%= image_path(product.image_url)%>" alt="">
									</div>
									<div class="product_info">
										<h6 class="product_name">
											<%= link_to product.title, product %>
										</h6>
										<div class="product_price"><%= number_to_currency(product.price) %></div>
									</div>
								<div class="red_button add_to_cart_button">
									<a href="#">add to cart</a>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>

		</div>
	</div>
