<br>
<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>

  <tbody>
    <tr>
      <td> Item</td>
      <td>
          Product 1<br>
          Product 2<br>
          Product 3<br>
          Product 4<br>
        </td>
    </tr>
    <tr>


    </tr>
    <% #@orders.each do |order| %>
      <tr>
        <td><%= @orders.first.name %>
        </td>
        <td><%= @orders.first.address %></td>
        <td><%= @orders.first.email %></td>
        <td><%= link_to 'Edit', edit_order_path(@orders) %></td>
        <td><%= link_to 'Destroy', @orders, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% #end %>
  </tbody>
</table>
